{% extends 'base.html' %}
{% block title %}Coolreads | {{book.asin}}{% endblock %}
{% block main %}
    <section class="space--sm">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-md-5 col-lg-4">
                    <img alt="Image" src={{book.imUrl}} onerror="this.src='../../../static/amazon-no-image.jpg '">
                </div>
                <div class="col-md-7 col-lg-6">
                    <h2>{{book.title if book.title else 'Book not found'}}</h2>
                    <div class="text-block">
                        <span class="h4 type--strikethrough inline-block">$549.99</span>
                        <span class="h4 inline-block">{{ ('${:.2f}'.format(book.price|float)) if book.price else 'Out of Stock' }}</span>
                        
                    </div>
                    <p>
                        {{book.description|safe}}
                    </p>
                    <ul class="accordion accordion-2 accordion--oneopen">
                        <li class="active">
                            <div class="accordion__title">
                                <span class="h5">Category</span>
                            </div>
                            <div class="accordion__content">
                                <ul class="bullets">
                                    {% for cat in book.genre.strip('][').split(',') %}
                                    <li>
                                        <span>{{cat.replace("'", "")}}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="accordion__title">
                                <span class="h5">Also Bought</span>
                            </div>
                            <div class="accordion__content">
                                <ul>
                                    {% if book.related %}
                                        {% for asin in book.related.also_bought %}
                                        <li>
                                            <span><a href="/book/{{asin}}">{{asin}}</a></span>
                                        </li>
                                        {% endfor %}
                                    {% else %}
                                        <div>No related books</div>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="accordion__title">
                                <span class="h5">Shipping Info</span>
                            </div>
                            <div class="accordion__content">
                                <p>
                                    Generally ships between 2 - 4 working days from order confirmation. Orders only confirmed once payment has successfully processed. NOTE: When using services such as SUTDPay, payments can take longer to process (approx. 4 days).
                                </p>
                            </div>
                        </li>
                    </ul>
                    <!--end accordion-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="space--sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    {% include 'reviews.html' %}
{% endblock %}