<section class="bar bar-3 bar--sm bg--secondary">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="bar__module">
                    <span class="type--fade">Coolreads | A bookstore cooler than Goodreads</span>
                </div>
            </div>
            <div class="col-lg-6 text-right text-left-xs text-left-sm">
                <div class="bar__module">
                    <ul class="menu-horizontal">
                        <li>
                            <a href="#" data-notification-link="search-box">
                                <i class="stack-search"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="stack-basket"></i>
                            </a>
                        </li>
                        <li class="dropdown dropdown--absolute">
                            <span class="dropdown__trigger">
                                <img alt="Image" class="flag" src="https://nswschoollang.schools.nsw.gov.au/content/dam/doe/sws/schools/n/nswschoollang/localcontent/esl_button.png" />
                            </span>
                            <div class="dropdown__container">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-1 dropdown__content">
                                            <ul class="menu-vertical text-left">
                                                <li>
                                                    <a href="#">ENG</a>
                                                </li>
                                                <li>
                                                    <a href="#">GER</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a href="#" data-notification-link="side-menu">
                                <i class="stack-dot-3"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!--end bar-->
<div class="notification pos-right pos-top side-menu bg--white" data-notification-link="side-menu" data-animation="from-right">
    <div class="side-menu__module">
        <a class="btn btn--icon bg--facebook block" href="#">
            <span class="btn__text">
                <i class="socicon-facebook"></i>
                Sign up with Facebook
            </span>
        </a>
        <a class="btn btn--icon bg--dark block" href="#">
            <span class="btn__text">
                <i class="socicon-mail"></i>
                Sign up with Email
            </span>
        </a>
    </div>
    <!--end module-->
    <hr>
    <div class="side-menu__module">
        <span class="type--fine-print float-left">Already have an account?</span>
        <a class="btn type--uppercase float-right" href="#">
            <span class="btn__text">Login</span>
        </a>
    </div>
    <!--end module-->
    <hr>
    <div class="side-menu__module">
        <ul class="list--loose list--hover">
            <li>
                <a href="#">
                    <span class="h5">About Us</span>
                </a>
            </li>
        </ul>
    </div>
    <!--end module-->
    <hr>
    <div class="side-menu__module">
        <ul class="social-list list-inline list--hover">
            <li>
                <a href="#">
                    <i class="socicon socicon-google icon icon--xs"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="socicon socicon-twitter icon icon--xs"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="socicon socicon-facebook icon icon--xs"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="socicon socicon-instagram icon icon--xs"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="socicon socicon-pinterest icon icon--xs"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="notification pos-top pos-right search-box bg--white border--bottom" data-animation="from-top" data-notification-link="search-box">
    <form>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <input type="search" name="query" placeholder="Type search query and hit enter" />
            </div>
        </div>
        <!--end of row-->
    </form>
</div>