{% extends 'base.html' %}

{% block title %}Coolreads | Login{% endblock %}

{% block main %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="login-card-wrapper">

    <div class="login-card">

      <h1 class="center">Login</h1>

      <form name="login_form">

        <label for="email">Email</label>
        <input type="email" name="email" class="field" required>

        <label for="password">Password</label>
        <input type="password" name="password" class="field" required>

        <p class="error error--hidden"></p>

        <input type="submit" value="Login" class="btn">
      
      </form>
      
    </div>
    <script>
        $("form[name=login_form").submit(function(e) {

        var $form = $(this);
        var $error = $form.find(".error");
        var data = $form.serialize();

        $.ajax({
        url: "/user/login",
        type: "POST",
        data: data,
        dataType: "json",
        success: function(resp) {
            console.log("Passed js");
            console.log(resp);
            window.location.href = "/";
        },
        error: function(resp) {
            $error.text(resp.responseJSON.error).removeClass("error--hidden");
        }
        });

        e.preventDefault();
        });
    </script>
</div>


{% endblock %}